@media (max-width: 767px) {

.navbar-collapse {
	float: none;
}

.navbar-default .navbar-toggle {
	background-color: #fff;
	border-color: #fff;
	margin-right: 12px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #fff;
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default {
	padding-top: 0;
}

.navbar-default .navbar-nav .open .dropdown-menu>.divider,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	background-color: #DA4D4D;
}

.navbar-collapse {
	padding-right: 15px;
	padding-left: 10px;
}

.navbar-default {
	padding: 0  !important;
}

}

@media (max-width: 991px) {

	.modules-row>div:first-child {
		padding-left: 30px;
	}

	.modules-row>div:last-child {
		padding-right: 30px;
	}

}
/*
@media (max-width: 922px) {
#logo-title {
	width: 139px;
	display: block;
	float: left;
}

#brand-logo {
	float: left;
}
*/
}
