#loginbox, #registration-box {
	margin-top: 150px;
}

.login-btn {
	margin-right: 10px;
	float: left;
}

.panel-info>.panel-heading {
	background-color: #C53E3E;
}

#register-btn {
	float: left;
	
}

.signup-btn {
	background-color: #000;
	border-color: #000;
}

#loginbox .btn-success {
	background-color: #000;
	border-color: #000;
}

#logo-title>span {
	font-size: 1.05em;
}

#flat-checkbox-1 {
	position: absolute;
	top: -20%;
	left: -20%;
	display: block;
	width: 140%;
	height: 140%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	opacity: 0;
	background: rgb(255, 255, 255);
}

.iCheck-helper {
	position: absolute;
	top: -20%;
	left: -20%;
	display: block;
	width: 140%;
	height: 140%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	opacity: 0;
	background: rgb(255, 255, 255);
}

#loginbox .checkbox {
	float: right;
	margin-bottom: 0;
}

#loginbox .row {
	margin-right: 0;
	margin-left: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default {
	background-color: #C53E3E;	
	border-color: #C53E3E;
	color: #fff;
}

.navbar-default {
	padding: 15px 0;

}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
	color: #fff;
	font-size: 12px;	
}

.navbar-brand {
	height: inherit;
	padding: 7px 15px;
}

.navbar-brand img {
	margin-right: 8px;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 12px;
}

.navbar-collapse {
	float: right;
	padding-right: 0;
}

.navbar-default .navbar-nav>li>a i {
	font-size: 17px !important;
	margin-right: 5px;
}

.section {
	background-color: #406A94;
	color:#fff;
	height:48px;
	padding-top: 8px;
	padding-left: 10px;
}

.section img, .section h4 {
	float: left;
}

.section h4 {
	margin: 4px 0 10px 10px;
	font-weight: 100;
	font-size: 20px;
}

.account-page {
	float: left;
}

.welcome-info {
	float: right;
}

.welcome-page {
	color: #fff;
}

.header-row {
	margin-top: 10px;
}

.credits-icon {
	font-size: 20px;
	padding-left: 14px;
	padding-top: 14px;
}

.credits-icon {
	padding: 6px;
	background-color: #7EBAFF;
	border-radius: 5px;
	margin-right: 5px;
	float: left;
}

.list-group {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-left: 50px;
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}

.list-group .list-group-item {
	background-color: #fff;
	border: none;
	padding-left: 0;
}

.nav>li>span {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.badge, .label {
	background-color: #000000;
}

.badge {
	margin-left: 5px;
}

.navbar-nav>li>span {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}


@media (min-width: 768px) {
	.navbar-nav>li>span {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px;
	}

	.navbar {
		border-radius: 0;
	}
}

.navbar-collapse {
	padding-left: 0;
}

.welcome-cat-links {
	color:#000;
	text-decoration: underline;
	font-size: 13px;
}

.navbar.navbar-default {
	margin-bottom: 0;
}

.breadcrumb {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.stepper .stepper-arrow {
	right: 0;
}

.alert {
	margin-bottom: 0;
}

#range {
	float: right;
	margin-bottom: 10px;
}

.dl-horizontal dd {
	margin-left: 220px;
}

.dl-horizontal dt {
	width: 200px;
}

.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.pledge-photo-link {
	float: left;
	margin-right: 10px;
}

.row-bottom-offset {
	margin-bottom: 15px;
}

.data-row {
	padding: 15px;
	margin: 0px;
}

.modules-row>div {
	padding: 30px;
}

.modules-row>div:first-child {
	padding-left: 60px;
}

.modules-row>div:last-child {
	padding-right: 60px;	
}


.auction-item-header {
	text-align: center;
	font-weight: 500;
	background-color: #DDD;
}

.price, .request-block {
	background-color: #eee;
}

.detail-block {
	background-color: #eee;
	border-top: 1px solid #ccc;
}

.company, .lot, .completion-time {
	text-align: center;
	font-weight: 300;
	border-bottom: 1px solid #DDD;
	margin: 0px;
}

.empty {
	padding: 20px 0;
	border-bottom: 1px solid #DDD;
}

.item-block {
	/*margin-bottom: 10px;*/
	padding-right: 0;
 	padding-left: 0;
	margin: 0 15px 10px;
}

.initial-price {
	margin: 0;
	padding-top: 6px;
}

#footer-container {
	padding: 10px 10px;
	position: initial;
}

.row th.sorting_disabled {
	border-right: none;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #C53E3E;
	border-color: #C53E3E;
}


#pledge-images, #pledge-images_F1 {
	display: none;
}

.stepper-input[disabled] {
	background-color: #FFFFFF;
	border-color: #B3B3B3;
}

.bfh-datepicker-calendar .calendar {
	color: #000;
}

.offer-btns {
	float: right;
}

.offer-alert {
	margin-bottom: 10px;
}

.invoice-panel {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

.invoice-panel:last-child h4{
	border-bottom: 1px solid #bbb;
}

.invoice-panel h4{
	padding: 5px;
	padding-left: 10px;
}

.invoice-panel .panel-body {
	border-bottom: 1px solid #bbb;
}

.invoice-panel:last-child .panel-body {
	border-bottom: 2px solid #bbb;
}

.operation-alert {
	margin-bottom: 5px;
}

.operation-alert:last-child {
	margin-bottom: 0;
}

#filter-body {
	float: right;
	margin-bottom: 10px;
}

#filter-body select {
	
}

.offers-additional-info {
	margin-bottom: 0px;
}

.disable-panel {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: rgba(26, 73, 120, 0.72);
}

.precountdown {
	position: relative;
	top: 120px;
	font-size: 90pt;
	margin: 0;
	text-align: center;
	color: white;
}

.final-panel-h1 {
	position: relative;
	top: 170px;
	margin: 0;
	text-align: center;
	color: white;
}

.close-lot-btn {
	color: #fff;
	position: absolute;
	float: right;
	right:15px;
	top: 10px;
	cursor: pointer;
}